/**
 * Colors main
 */

$color-bg-default: #3a3a3a;
$color-bg-hover: #505050;
$color-bg-active: #00bcd4;

$color-border-default: #555;
$color-border-active: #00acc1;

$color-text-default: #ccc;
$color-text-hover: #fff;
$color-text-active: #fff;

$color-left-bg: #1e1e1e;
$color-right-bg: #2a2a2a;

/**
 * Breakpoints
 */
 
$mob: 360px;
$tab: 768px;
$tab-large: 992px;
$lap: 1280px;
$desk: 1920px;